<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <targets>
    <target type="ColoredConsole" name="console" layout="${longdate} ${uppercase:${level}} ${message}" />
	 <target name="file" type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/${shortdate}.log"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="console,file"/>
  </rules>
</nlog>