<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsterNET.ARI" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" userInstalled="true" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Extensions.Logging" version="1.0.0-rtm-rc2" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" userInstalled="true" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" userInstalled="true" />
</packages>